<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Steam Games OLAP Application</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>  <!-- Include Chart.js -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
<body>
    <!-- Variables and Constants -->
    <script>
        const groupByOptions = {
            'Dim_GameAttributes': ['Category', 'Tags', 'Genres'],
            'Dim_GamePlatform': ['Mac', 'Windows', 'Linux'],
            'Dim_Organization': ['Developers', 'Publishers'],
            'Dim_Games' : ['Name', 'Release date']
        };

        const filterOptions = {
            'Category': [
                'Single-player',
                'Multi-player',
                'PvP',
                'Online PvP',
                'Co-op',
                'Online Co-op',
                'Shared/Split Screen Co-op',
                'Shared/Split Screen',
                'Cross-Platform Multiplayer',
                'Steam Achievements',
                'Full controller support',
                'Steam Trading Cards',
                'Steam Workshop',
                'Steam Cloud',
                'Steam Leaderboards',
                'Steam Turn Notifications',
                'Includes level editor',
                'Remote Play on Phone',
                'Remote Play on Tablet',
                'Remote Play on TV',
                'Remote Play Together'
            ],
            'Tags': [
                'Choose Your Own Adventure',
                'Open World',
                'Character Customization',
                'Exploration',
                'Souls-like',
                'Gothic',
                'Lovecraftian',
                'Turn-Based Tactics',
                'Immersive Sim',
                'Horror',
                'Dungeon Crawler',
                'Choices Matter',
                'Party-Based RPG',
                'Survival Horror',
                'Turn-Based Strategy',
                'First-Person',
                'Cyberpunk',
                'Multiple Endings',
                'Story Rich',
                'Dark Fantasy'
            ],
            'Genres': [
                'Casual',
                'Free to Play',
                'Indie',
                'Accounting',
                'Animation & Modeling',
                'Audio Production',
                'Design & Illustration',
                'Education',
                'Photo Editing',
                'Software Training',
                'Utilities',
                'Video Production',
                'Web Publishing'
            ]
        };
    </script>

    <h1>Steam Games OLAP Application</h1>

    <!-- Overview Section -->
    <table>
        <thead>
            <tr>
                <th>Total Games</th>
                <th>Total owners</th>
                <th>Average Price</th>
                <th>Total Recommendations</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ overview.TotalGames }}</td>
                <td>{{ overview.TotalOwners }}</td>
                <td>${{ '%.2f' | format(overview.AveragePrice) }}</td>
                <td>{{ overview.TotalRecommendations }}</td>
            </tr>
        </tbody>
    </table>

    <!-- Execution Time Section -->
    {% if execution_time is not none %}
        <div class="execution-time text-center">
            <strong>Time taken for query:</strong> {{ '%.2f' | format(execution_time) }} seconds
        </div>
    {% endif %}

    <!-- Query Form for drill down -->
    <h1>Drill Down</h1>
    <h2>
        In the
        <form method="POST" action="{{ url_for('views.home') }}" style="display: inline;">
            <select name="table_selection" id="table_selection" onchange="updateDrillDownOptions()">
                <option value="Dim_GameAttributes">Game Attributes</option>
                <option value="Dim_GamePlatform">Game Platform</option>
                <option value="Dim_Organization">Game Organization</option>
                <option value="Dim_Games">Games</option>
            </select>
            table, get the 
            <select name="group_by_col" id="group_by_col">
                <!-- Options will be populated by JavaScript -->
            </select>
            with the most
            <select name="aggregation_col_drill" id="aggregation_col_drill">
                <option value="Estimated_Owners">Estimated Owners</option>
                <option value="Peak_CCU">Peak CCU</option>
                <option value="Avg_Playtime_Forever">Average Playtime Forever</option>
                <option value="Avg_Playtime_Two_Weeks">Average Playtime Two Weeks</option>
                <option value="Med_Playtime_Forever">Median Playtime Forever</option>
                <option value="Med_Playtime_Two_Weeks">Median Playtime Two Weeks</option>
                <option value="Total_Revenue">Total Revenue</option>
                <option value="User_Score">User Score</option>
                <option value="Metacritic_Score">Metacritic Score</option>
                <option value="Positive">Positive Reviews</option>
                <option value="Negative">Negative Reviews</option>
                <option value="DLC_Count">DLC Count</option>
                <option value="Achievements">Achievements</option>
                <option value="Recommendations">Recommendations</option>
            </select>
            <button type="submit">Submit</button>
        </form>
    </h2>
    
    <!-- {% if top_results is not none and request.method == 'POST' %}
        <h3>Aggregated Results</h3>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Positive Reviews</th>
                </tr>
            </thead>
            <tbody>
                {% for row in top_results %}
                    <tr>
                        <td>{{ row[0] }}</td>  
                        <td>{{ row[1] }}</td>  
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% elif request.method == 'POST' %}
        <p>No data available for the selected criteria.</p>
    {% endif %} -->

    <!-- Chart.js visualization -->
    <canvas id="myChart" width="400" height="200"></canvas>

    {% if chart_labels and chart_data %}
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: JSON.parse('{{ chart_labels|tojson }}'),  
                datasets: [{
                    label: '{{ aggregation_col }}',
                    data: JSON.parse('{{ chart_data|tojson }}'),
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
    {% else %}
        <p>No data available to display the chart.</p>
    {% endif %}

    <!-- Query Form for roll up -->
    <h1>Roll Up</h1>
    <h2>
        In the 
        <form method="POST" action="{{ url_for('views.home') }}" style="display: inline;">
            <select name="table_selection1" id="table_selection1" onchange="updateRollUpOptions()">
                <option value="Dim_GameAttributes">Game Attributes</option>
                <option value="Dim_GamePlatform">Game Platform</option>
                <option value="Dim_Organization">Game Organization</option>
            </select>
            table, get the total 
            <select name="aggregation_col_rollup" id="aggregation_col_rollup">
                <option value="Estimated_Owners">Estimated Owners</option>
                <option value="Peak_CCU">Peak CCU</option>
                <option value="Avg_Playtime_Forever">Average Playtime Forever</option>
                <option value="Avg_Playtime_Two_Weeks">Average Playtime Two Weeks</option>
                <option value="Med_Playtime_Forever">Median Playtime Forever</option>
                <option value="Med_Playtime_Two_Weeks">Median Playtime Two Weeks</option>
                <option value="Total_Revenue">Total Revenue</option>
                <option value="User_Score">User Score</option>
                <option value="Metacritic_Score">Metacritic Score</option>
                <option value="Positive_Reviews">Positive Reviews</option>
                <option value="Negative_Reviews">Negative Reviews</option>
                <option value="DLC_Count">DLC Count</option>
                <option value="Achievements">Achievements</option>
                <option value="Recommendations">Recommendations</option>
            </select>
            by
            <select name="group_by_col1" id="group_by_col1">
                <!-- Options will be populated by JavaScript -->
            </select>
            
            <button type="submit">Submit</button>
        </form>
    </h2>

    {% if total_results is not none and request.method == 'POST' %}
    <h3>Aggregated Results</h3>
        <table>
            <thead>
                <tr>
                    <th>{{ group_by_col }}</th>
                    <th>{{ aggregation_col }}</th>
                </tr>
            </thead>
            <tbody>
                {% for row in total_results %}
                    <tr>
                        <td>{{ row[0] }}</td>  
                        <td>{{ row[1] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% elif request.method == 'POST' %}
        <p>No data available for the selected criteria.</p>
    {% endif %}
    
    <!-- Query Form for slicing -->
    <h1>Slice</h1>
    <h2>
        Find games with the
        <form method="POST" action="{{ url_for('views.home') }}" style="display: inline;">
            <select name="property" id="property" onchange="updateSliceOptions()">
                <option value="Category">Category</option>
                <option value="Tags">Tag</option>
                <option value="Genres">Genre</option>
            </select>
            containing
            <select name="filter" id="filter">
                <!-- Options will be populated by JavaScript -->
            </select>

            <button type="submit">Submit</button>
        </form>
    </h2>   
    
    {% if total_slice %}
    <h3>Slice Results:</h3>
    <table>
        <thead>
            <tr>
                <th>Game</th>
                <th>Filter</th>
            </tr>
        </thead>
        <tbody>
        {% for game in total_slice %}
            <tr>
                <td>{{ game[0] }}</td>
                <td>{{ game[1] }}</td>
            </tr> 
        {% endfor %}
    </table>

    {% elif request.method == 'POST' %}
    <p>No data available for the selected criteria.</p>
    {% endif %}

    <!-- Query Form for game statistics -->
    <h1>Pivot</h1>
    <h2>
        Generate quantitative statistics per game
        <form method="POST" action="{{ url_for('views.home') }}" style="display: inline;">
            <input type="hidden" name="action" value="pivot">  
            <button type="submit">Submit</button>
        </form>
    </h2>

    {% if game_stats is not none and request.method == 'POST' %}
        <h3>Statistics</h3>
        <table>
            <thead>
                <tr>
                    <th>Game</th>
                    <th>Average User Score</th>
                    <th>Total Estimated Owners</th>
                    <th>Total Positive Reviews</th>
                    <th>Total Negative Reviews</th>
                    <th>Total Recommendations</th>
                    <th>Windows Owners</th>
                    <th>Mac Owners</th>
                    <th>Linux Owners</th>
                </tr>
            </thead>
            <tbody>
                {% for row in game_stats %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>{{ row[5] }}</td>
                        <td>{{ row[6] }}</td>
                        <td>{{ row[7] }}</td>
                        <td>{{ row[8] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% elif request.method == 'POST' %}
        <p>No pivot data available for the selected criteria.</p>
    {% endif %}

    <!-- JavaScript -->
    <script>
        function updateDrillDownOptions() {
            const tableSelection = document.getElementById('table_selection').value;
            const groupByCol = document.getElementById('group_by_col');
            groupByCol.innerHTML = '';
            const options = groupByOptions[tableSelection];

            options.forEach(option => {
                const newOption = document.createElement('option');
                newOption.value = option;
                newOption.textContent = option;
                groupByCol.appendChild(newOption);
            });
        }

        updateDrillDownOptions();

        function updateRollUpOptions() {
            const tableSelection = document.getElementById('table_selection1').value;
            const groupByCol = document.getElementById('group_by_col1');
            groupByCol.innerHTML = '';
            const options = groupByOptions[tableSelection];

            options.forEach(option => {
                const newOption = document.createElement('option');
                newOption.value = option;
                newOption.textContent = option;
                groupByCol.appendChild(newOption);
            });
        }

        function updateSliceOptions() {
            const tableSelection = document.getElementById('property').value;
            const groupByCol = document.getElementById('filter');
            groupByCol.innerHTML = '';
            const options = filterOptions[tableSelection];

            options.forEach(option => {
                const newOption = document.createElement('option');
                newOption.value = option;
                newOption.textContent = option;
                groupByCol.appendChild(newOption);
            });
        }

        updateDrillDownOptions();

        updateRollUpOptions();

        updateSliceOptions();   
    </script>

</body>
</html>
